
# Ignore node_modules folders
node_modules
backend/node_modules
frontend/node_modules

# Ignore package-lock.json files
backend/package-lock.json
frontend/package-lock.json

# Ignore the .env file in the backend directory
backend/.env

# Ignore the build folder in the frontend directory
frontend/build
#####g