@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your index.css or App.css */
@keyframes fadeSlideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeSlideDown {
    animation: fadeSlideDown 0.5s ease-out forwards;
  }